server {
  server_name               abvdb.yourdomain.com;
  location / {
    proxy_pass              http://unix:/run/gunicorn.sock;
    proxy_set_header        Host $host;
    proxy_set_header        X-Forwarded-Proto $scheme;
    # Increase timeouts for large file submissions to avoid 504 error.
    proxy_connect_timeout       300;
    proxy_send_timeout          300;
    proxy_read_timeout          300;
    send_timeout                300;
  }

  location /static {
    autoindex on;
    alias /your/static/files/;
  }

  location = /robots.txt {
    add_header Content-Type text/plain;
    alias /your/robots/txt;
  }
}
